@font-face {
  font-family: "AVGARDD";
  src: url(../public/fonts/AVGARDD_2.woff);
}

@font-face {
  font-family: "AVGARDN";
  src: url(../public/fonts/AVGARDN_2.woff);
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf') format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#section1 {
  background: #222;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  h1 {
    font-size: 6vw;
    font-family: "AVGARDD";
  }
}

#section2 {
  background-color: #000;
  height: 100vh;
  color: #fff;

  .project__wrap {
    width: 100%;
    height: 100%;

    .project__mask,
    .project__text {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      line-height: 1.2;
      cursor: default;
      font-family: "AVGARDD";

      p {
        width: 1000px;

        span {
          color: #ec4e39;
        }
      }
    }

    .project__mask {
      position: absolute;
      font-family: "GmarketSans";
      font-size: 60px;
      line-height: 1.1;
      mask-image: url(../public/mask.svg);
      mask-size: 50px;
      mask-repeat: no-repeat;
      background-color: #ec4e39;
    }
  }

}

#section3 {
  background-color: #222;
  height: 100vh;
}